<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    My ToDo
  </h1>
  <br><br>
  <span>Label</span>
  <input type="text" #newTodoLabel>
  <span>Priority</span>
  <input type="number" #newTodoPriority>
  <button (click)="addTodo(newTodoLabel.value,newTodoPriority.value)">Add</button>
  <br><br>
  <table class="blueTable">
    <thead>
      <tr>
        <th>Label</th>
        <th>Priority</th>
        <th>Done</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todoList">
        <td>{{todo.label}}</td>
        <td>{{todo.priority}}</td>
        <td>{{todo.done ? '&#10003;' : '&#10005;'}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br> -->
<cdk-drop class="example-list" (dropped)="drop($event)">
  <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
</cdk-drop>